# Dependencies
node_modules/

# Build output
out/
dist/
dist-electron/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Electron
*.asar

# TypeScript
*.tsbuildinfo

# Misc
.cache/
